* {
	margin: 0;
	padding: 0;
}

body {
	min-height: 650px;
	width: 100vw;
	height: 100vh;
	background-image: linear-gradient( 109.6deg,  rgba(123,90,224,1) 11.2%, rgba(164,46,253,1) 32.6%, rgba(213,56,234,1) 62.7%, rgba(251,138,52,1) 100.2% );
	color: #d5dbdb;
	font-family: 'Open Sans', sans-serif;
}

.container {
	margin: 0 auto;
	height: 100%;
	width: 340px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/*border: 1px solid blue;*/
}

/* HEADER */

.app-title {
	font-size: 30px;
	text-align: center;
	list-style: 30px;
	/*border: 1px solid red;*/
	padding-top: 20px;
}

/* app-itself */

.app-itself {
	width: 100%;
	height: 450px;
	/*border: 1px solid lightgreen;*/
	margin: 0 auto;
}

.timer-digits {
	font-size: 130px;
	text-align: center;
	transition: 0.4s;
}

.overview-title {
	text-align: center;
	font-size: 25px;
	padding-bottom: 20px;
}

.overview-data {
	display: flex;
	justify-content: space-around;
	font-size: 17px;
}

.overview-data-item-text {
	width: 130px;
	text-align: center;
	padding-bottom: 10px;
}

.passed-stages-special-width {
	width: 100px;
}

.overview-data-item-counter {
	text-align: center;
}

.passed-stages-counter {
	display: flex;
	justify-content: center;
}

/* app-control */

.app-control {
	height: 75px;
	width: 97%;
	margin: 0 auto;
	overflow: hidden;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border: 1px solid violet;
	border-bottom: 0;
}

.control-panel, .control-dialog-work-timer-on, .control-dialog-pause-timer-on, .control-dialog-eye-care-on {
	height: 75px;
	width: 100%;
	transition: 0.2s;
	overflow: hidden;
}

.control-panel, .control-dialog-work-timer-on {	
	font-size: 25px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.control-dialog {
	
}

.settings-icon {
	/*border:1px solid red;*/
	width: 13%;
	text-align: center;
	line-height: 75px;
}

.devide {
	width: 1px;
	height: 80%;
	border-left: 1px solid violet;
	align-items: center;
}

.switch-buttons {
	width: 87%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	/*border: 1px solid lightgreen;*/
	line-height: 75px;
}

.module-buttons {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	/*border: 1px solid lightgreen;*/
	line-height: 75px;
}

.pause-continue {
	transition: 0.4s;	
}
